html {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.roboto {
  font-family: 'Roboto';
}

.poppins {
  font-family: 'Poppins', sans-serif;
}

/* .list-parent .active {
  color: #0072E5;
  background-color: #F0F7FF;
} */

a {
  text-decoration: none;
  color: #2c58a8;
}

.main-content {
  height: 100%;
}

pre, code{
  white-space:normal;
}

.infinite-scroll-component__outerdiv {
  width: 100%;
}